#version 450

#ifdef USE_TX2
#define USE_TX1
#endif

#ifdef USE_CL2
#define USE_CL1
#endif

// 64 bytes
layout(push_constant) uniform Transform {
	mat4 mvp;
};


#if defined(USE_FOG) || defined(USE_ENV)
layout(set = 1, binding = 0) uniform UBO {
	// VERTEX
	vec4 eyePos;
	vec4 lightPos;
	//  VERTEX-FOG
	vec4 fogDistanceVector;
	vec4 fogDepthVector;
	vec4 fogEyeT;
	// FRAGMENT
	vec4 lightColor;
	vec4 fogColor;
	// linear dynamic light
	vec4 lightVector;		
};
#endif

#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
layout(set = 1, binding = 1) uniform UBOG2 {
	vec4 u_localViewOrigin;
	vec4 ambientLight;
	vec4 directedLight;
	vec4 lightDir;
	vec4 rgbGen; 
	vec4 alphaGen;
	vec4 baseColor[3];
	vec4 vertColor[3];
	vec4 disintegrationInfo;
	vec4 deformInfo[3];
	mat4 u_ModelMatrix;
};	

layout(set = 1, binding = 2) uniform Bones {
	mat3x4 u_BoneMatrices[72];
};

#define M_PI 3.1415926535897932384626433832795

layout(location = 7) out vec4 var_Normal;
layout(location = 8) out vec4 var_LightDir;
//layout(location = 9) out vec4 var_ViewDir;
#endif

layout(location = 0) in vec3 in_position;

#ifndef USE_ENV
layout(location = 2) in vec2 in_tex_coord0;
#endif

#ifdef USE_TX1
layout(location = 3) in vec2 in_tex_coord1;
#endif
#ifdef USE_TX2
layout(location = 4) in vec2 in_tex_coord2;
#endif

#if defined(USE_ENV) || defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
layout(location = 5) in vec3 in_normal;
#endif

#if defined (USE_CLX_IDENT) || defined (USE_FIXED_COLOR)
// use either 1.0 or fixed (rgb+a) color from spec.constants
#else
	#if !defined(USE_VBO_GHOUL2) && !defined(USE_VBO_MDV)
		layout(location = 1) in vec4 in_color0;
	#endif

	#if defined(USE_CL1) && !defined(USE_VBO_GHOUL2) && !defined(USE_VBO_MDV)
	layout(location = 6) in vec4 in_color1;
	#endif
	#if defined(USE_CL2) && !defined(USE_VBO_GHOUL2) && !defined(USE_VBO_MDV)
	layout(location = 7) in vec4 in_color2;
	#endif

	layout(location = 0) out vec4 frag_color0;
	#ifdef USE_CL1
	layout(location = 5) out vec4 frag_color1;
	#endif
	#ifdef USE_CL2
	layout(location = 6) out vec4 frag_color2;
	#endif
#endif

layout(location = 1) out vec2 frag_tex_coord0;
#ifdef USE_TX1
layout(location = 2) out vec2 frag_tex_coord1;
#endif
#ifdef USE_TX2
layout(location = 3) out vec2 frag_tex_coord2;
#endif

#ifdef USE_FOG
layout(location = 4) out vec2 fog_tex_coord;
#endif

#if defined(USE_VBO_GHOUL2)
layout(location = 8) in uvec4 in_bones;
layout(location = 9) in vec4 in_weights;
#endif

out gl_PerVertex {
	vec4 gl_Position;
};

#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
vec4 CalcColor( int index, in vec3 position, in vec3 normal ) {
	vec4 color = ( vertColor[index] * vec4( 0.0 ) ) + baseColor[index];		// skip vertColor?

	switch ( int( rgbGen[index] ) ) {
		case 14:// CGEN_DISINTEGRATION_1
		{
			vec3 delta = disintegrationInfo.xyz - position;
			float sqrDistance = dot( delta, delta );

			if ( sqrDistance < disintegrationInfo.w )
				color *= 0.0;
			else if ( sqrDistance < disintegrationInfo.w + 60.0 )
				color *= vec4( 0.0, 0.0, 0.0, 1.0 );
			else if ( sqrDistance < disintegrationInfo.w + 150.0 )
				color *= vec4( 0.435295, 0.435295, 0.435295, 1.0 );
			else if ( sqrDistance < disintegrationInfo.w + 180.0 )
				color *= vec4( 0.6862745, 0.6862745, 0.6862745, 1.0 );

			return color;
		}
		case 15:// CGEN_DISINTEGRATION_2
		{
			vec3 delta = disintegrationInfo.xyz - position;
			float sqrDistance = dot( delta, delta );

			if ( sqrDistance < disintegrationInfo.w )
				return vec4(0.0);

			return color;
		}
	}

	switch ( int( alphaGen[index] ) ) {
		case 6: // AGEN_LIGHTING_SPECULAR
		{
			vec3 viewer = normalize( u_localViewOrigin.xyz - position );
			vec3 lightDirection = ( transpose(u_ModelMatrix) * vec4( lightDir.xyz, 0.0 ) ).xyz;
			vec3 reflected = -reflect( lightDirection, normal );
			color.a = clamp( dot( reflected, normalize( viewer ) ), 0.0, 1.0 );
			color.a *= color.a;
			color.a *= color.a;
			break;
		}
		case 8: // AGEN_PORTAL
		{
			vec3 viewer = normalize( u_localViewOrigin.xyz - position );
			color.a = clamp( length( viewer ) / alphaGen[3], 0.0, 1.0 );
			break;
		}
	}

	return color;
}

float GetNoiseValue( float x, float y, float z, float t )
{
	// Variation on the 'one-liner random function'.
	// Not sure if this is still 'correctly' random
	return fract( sin( dot(
		vec4( x, y, z, t ),
		vec4( 12.9898, 78.233, 12.9898, 78.233 )
	)) * 43758.5453 );
}

float CalculateDeformScale( in int func, in float time, in float phase, in float frequency )
{
	float value = phase + time * frequency;

	switch ( func ) {
		case 1: // GF_SIN
			return sin(value * 2.0 * M_PI);
		case 2: // GF_SQUARE
			return sign(0.5 - fract(value));
		case 3: // GF_TRIANGLE
			return abs(fract(value + 0.75) - 0.5) * 4.0 - 1.0;
		case 4: // GF_SAWTOOTH
			return fract(value);
		case 5:	// GF_INVERSE_SAWTOOTH
			return 1.0 - fract(value);
		default:// GF_NONE
			return 0.0;
	}
}

vec3 DeformPosition( const vec3 pos, const vec3 normal, const vec2 st )
{
	
	//deformInfo[0];	deformInfo[0][0];
	//deformInfo[1];	deformInfo[0][1];
	//deformInfo[2];	deformInfo[0][2];
	//deformInfo[3];	deformInfo[0][3];

	//deformInfo[4];	deformInfo[1][0];
	//deformInfo[5];	deformInfo[1][1];
	//deformInfo[6];	deformInfo[1][2];
	//deformInfo[7];	deformInfo[1][3];

	//deformInfo[8];	deformInfo[2][0];
	//deformInfo[9];	deformInfo[2][1];
	//deformInfo[10];	deformInfo[2][2];
	//deformInfo[11];	deformInfo[2][3];

	switch ( int( deformInfo[2][0] ) ) {
		default:
		{
			return pos;
		}

		case 3: // DEFORM_BULGE
		{
			float bulgeHeight = deformInfo[0][1]; // amplitude
			float bulgeWidth = deformInfo[0][2]; // phase
			float bulgeSpeed = deformInfo[0][3]; // frequency

			float scale = CalculateDeformScale( 1, deformInfo[1][3], bulgeWidth * st.x, bulgeSpeed );

			return pos + normal * scale * bulgeHeight;
		}

		case 4: // DEFORM_BULGE_UNIFORM
		{
			float bulgeHeight = deformInfo[0][1]; // amplitude

			return pos + normal * bulgeHeight;
		}

		case 1: // DEFORM_WAVE
		{
			float base = deformInfo[0][0];
			float amplitude = deformInfo[0][1];
			float phase = deformInfo[0][2];
			float frequency = deformInfo[0][3];
			float spread = deformInfo[1][0];

			float offset = dot( pos.xyz, vec3( spread ) );
			float scale = CalculateDeformScale( int(deformInfo[2][1]), deformInfo[1][3], phase + offset, frequency );

			return pos + normal * (base + scale * amplitude);
		}

		case 5: // DEFORM_MOVE
		{
			float base = deformInfo[0][0];
			float amplitude = deformInfo[0][1];
			float phase = deformInfo[0][2];
			float frequency = deformInfo[0][3];
			vec3 direction = vec3( deformInfo[1][0], deformInfo[1][1], deformInfo[1][2] );

			float scale = CalculateDeformScale( int(deformInfo[2][1]), deformInfo[1][3], phase, frequency );

			return pos + direction * (base + scale * amplitude);
		}

		case 6: // DEFORM_PROJECTION_SHADOW
		{
			vec3 ground = vec3(
				deformInfo[0][0],
				deformInfo[0][1],
				deformInfo[0][2]);
			float groundDist = deformInfo[0][3];
			vec3 lightDir = vec3(
				deformInfo[1][0],
				deformInfo[1][1],
				deformInfo[1][2]);

			float d = 1.0 / dot( lightDir, ground );
			vec3 lightPos = lightDir * d;
			return pos - lightPos * (dot( pos, ground ) + groundDist);
		}

		case 17: // DEFORM_DISINTEGRATION
		{
			vec3 delta = disintegrationInfo.xyz - pos;
			float sqrDistance = dot(delta, delta);
			vec3 normalScale = vec3(-0.01);
			if ( sqrDistance < disintegrationInfo.w )
			{
				normalScale = vec3(2.0, 2.0, 0.5);
			}
			else if ( sqrDistance < disintegrationInfo.w + 50 )
			{
				normalScale = vec3(1.0, 1.0, 0.0);
			}
			return pos + normal * normalScale;
		}
	}
}

vec3 DeformNormal( const in vec3 position, const in vec3 normal )
{
	if ( int( deformInfo[2][0] ) != 2 ) // DEFORM_NORMALS
		return normal;

	float amplitude = deformInfo[0][1];
	float frequency = deformInfo[0][3];

	vec3 outNormal = normal;
	const float scale = 0.98;
	
	outNormal.x += amplitude * GetNoiseValue(
		position.x * scale,
		position.y * scale,
		position.z * scale,
		deformInfo[1][3] * frequency );

	outNormal.y += amplitude * GetNoiseValue(
		100.0 * position.x * scale,
		position.y * scale,
		position.z * scale,
		deformInfo[1][3] * frequency );

	outNormal.z += amplitude * GetNoiseValue(
		200.0 * position.x * scale,
		position.y * scale,
		position.z * scale,
		deformInfo[1][3] * frequency );

	return outNormal;
}

mat4x3 GetBoneMatrix(uint index)
{
	mat3x4 bone = u_BoneMatrices[index];
	return mat4x3(
		bone[0].x, bone[1].x, bone[2].x,
		bone[0].y, bone[1].y, bone[2].y,
		bone[0].z, bone[1].z, bone[2].z,
		bone[0].w, bone[1].w, bone[2].w);
}
#endif



void main() {
#if defined(USE_VBO_MDV)
	vec3 position = in_position;
	vec3 normal = normalize(in_normal);

	if( int( deformInfo[2][0] ) != 0 ){ // !DEFORM_NONE
		position	= DeformPosition( position, normal, frag_tex_coord0 );
		normal		= DeformNormal( position, normal );
	}
#elif defined(USE_VBO_GHOUL2)
	mat4x3 skin_matrix =
		GetBoneMatrix(in_bones.x) * in_weights.x +
        GetBoneMatrix(in_bones.y) * in_weights.y +
        GetBoneMatrix(in_bones.z) * in_weights.z +
        GetBoneMatrix(in_bones.w) * in_weights.w;

	vec3 position = skin_matrix * vec4(in_position, 1.0);
	vec3 normal = normalize(skin_matrix * vec4(in_normal, 0.0));

	if( int( deformInfo[2][0] ) != 0 ){ // !DEFORM_NONE
		position	= DeformPosition( position, normal, frag_tex_coord0 );
		normal		= DeformNormal( position, normal );
	}
#else
	vec3 position = in_position;
	#if defined(USE_ENV)
		vec3 normal = in_normal;
	#endif
#endif

#if defined (USE_CLX_IDENT) || defined (USE_FIXED_COLOR)
	// use either 1.0 or fixed (rgb+a) color from spec.constants
#else
	#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
		frag_color0 = CalcColor( 0, position, normal );
	#else
		frag_color0 = in_color0;
	#endif

	#ifdef USE_CL1
		#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
			frag_color1 = CalcColor( 1, position, normal );
		#else
			frag_color1 = in_color1;
		#endif
	#endif
	#ifdef USE_CL2
		#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
			frag_color2 = CalcColor( 2, position, normal );
		#else
			frag_color2 = in_color2;
		#endif
	#endif
#endif

	gl_Position = mvp * vec4(position, 1.0);

#ifdef USE_ENV
	#if defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV)
	vec3 viewer = normalize(u_localViewOrigin.xyz - position);
	#else
	vec3 viewer = normalize(eyePos.xyz - position);
	#endif
	float d = dot(normal, viewer); 
	vec2 reflected = normal.yz * 2 * d - viewer.yz;

	frag_tex_coord0.s = 0.5 + reflected.x * 0.5;
	frag_tex_coord0.t = 0.5 - reflected.y * 0.5;
#else
	frag_tex_coord0 = in_tex_coord0;
#endif

#ifdef USE_TX1
	frag_tex_coord1 = in_tex_coord1;
#endif
#ifdef USE_TX2
	frag_tex_coord2 = in_tex_coord2;
#endif

#ifdef USE_FOG
	float s = dot(position, fogDistanceVector.xyz) + fogDistanceVector.w;
	float t = dot(position, fogDepthVector.xyz) + fogDepthVector.w;

	if ( fogEyeT.y == 1.0 ) {
		if ( t < 0.0 ) {
			t = 1.0 / 32.0;
		} else {
			t = 31.0 / 32.0;
		}
	} else {
		if ( t < 1.0 ) {
			t = 1.0 / 32.0;
		} else {
			t = 1.0 / 32.0 + (30.0 / 32.0 * t) / ( t - fogEyeT.x );
		}
	}

	fog_tex_coord = vec2(s, t);
#endif // USE_FOG

#if !defined(USE_CLX_IDENT) && (defined(USE_VBO_GHOUL2) || defined(USE_VBO_MDV))
	position		= (u_ModelMatrix * vec4(position, 1.0)).xyz;
	normal			= normalize(mat3(u_ModelMatrix) * normal);

	//vec3 viewDir = u_ViewOrigin.xyz - position;

	vec3 L	= lightDir.xyz - (position * lightDir.w);

	var_LightDir	= vec4(L, 0.0);	
	var_Normal		= vec4(normal, 0.0);
	//var_ViewDir		= vec4(viewDir, 0.0);
#endif
}